/* Global Vars */
:root {
  --job-selector-height: 25px; 
}

/* Default override styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A2342;
  letter-spacing: 2.25px;
  font-weight: normal;
  font-size: 12pt;
  text-decoration: none;
  line-height: 1.75rem;
}

button {
  outline: none;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  color: #FFFDF7;
  background-color: #0A2342;
  border: none;
  padding: 10px;
  box-shadow: 0 0 0 2px #5ED4BC;
  transition: box-shadow 0.3s;
  font-size: 14pt;
  width: fit-content;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 0 4px #5ED4BC;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

/* Global styles */
.app {
  color: #B4A6AB;
}

.light-green {
  color: #5ED4BC
}

.light-grey {
  color: #FFFDF7
}

.dark-grey {
  color: #B4A6AB
}

.cool-font {
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a.hover-animate {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

a.hover-animate:after {
  display: block;
  content: "";
  border-bottom: 1px solid #5ED4BC;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}

a.hover-animate:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.content {
  padding: 25px 25px 10px 25px;
  display: flex;
  flex-direction: column;
}

.screen-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 40%;
}

.screen-overlay.hidden {
  visibility: hidden;
}

.blank-space {
  height: 20px;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 10pt;
}

/* About Me */

@media (min-width: 600px) {
  .content {
    padding: 75px 75px 10px 75px;
    margin-top: 0px;
  }
}