.jobs {
  display: flex;
  flex-direction: column;
  position: relative;
}

.job-selectors {
  display: flex;
  width: 100%;
}

.job-selector {
  width: 100%;
  height: var(--job-selector-height);
  border-bottom: 2px solid #B4A6AB;
  cursor: pointer;
}

.job-selector.active {
  background-color: #0e305a;;
}

.job-selector::after {
  border-bottom: 2px solid #5ED4BC;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.job-selector.active::after {
  border-bottom: 2px solid #5ED4BC;
  transform-origin: left;
  transform: scaleX(1);
}

.selected-job {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  grid-column: 1;
  grid-row: 1;
  gap: 15px;
  top: var(--job-selector-height);
  width: 100%;
  padding: 0px 5px;
  background-color: #0e305a;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
}

.experience-item-info {
  padding-top: 20px;
}

.experience-item.active {
  transform-origin: top;
  transform: scaleY(1);
}

.arrow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
}