.experience-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
}

.experience-content {
  display: flex;
  justify-content: center;
}

.jobs {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.job-selectors {
  display: flex;
  width: 100%;
}

.job-selector {
  width: 100%;
  height: var(--job-selector-height);
  border-bottom: 2px solid #B4A6AB;
  cursor: pointer;
  background-color: inherit;
  transition: background-color 0.4s;
}

.job-selector:hover {
  background-color: #0e305a;
}

.job-selector.active {
  background-color: #0e305a;
}

.job-selector::after {
  border-bottom: 2px solid #5ED4BC;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.job-selector.active::after {
  transform-origin: left;
  transform: scaleX(1);
}

.job-selector.backward::after {
  transform-origin: left;
}

.job-selector.forward::after {
  transform-origin: right;
}

.job-selector.active.backward::after {
  transform-origin: right;
}

.job-selector.active.forward::after {
  transform-origin: left;
}

.selected-job {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100%;
}

.experience-item {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  gap: 15px;
  top: var(--job-selector-height);
  width: 100%;
  background-color: #0e305a;
  transform: scaleX(0);
  transition: transform 0.3s;
  justify-content: center;
  padding-bottom: 20px;
}

.experience-item.active {
  transform: scaleX(1);
}

.experience-item.backward {
  transform-origin: right;
}

.experience-item.forward {
  transform-origin: left;
}

.experience-item.active.backward {
  transform-origin: left;
}

.experience-item.active.forward {
  transform-origin: right;
}

.experience-item-info {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.experience-item-points {
  text-align: left;
  max-width: 600px;
}

.arrow {
  font-size: 14pt;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

@media (min-width: 600px) {
  .arrow {
    padding: 0px 30px;
  }
}