.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  min-height: calc(100vh - 100px);
}

.header-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
  max-width: 600px;
}